body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #a5c7ff, #fff);
  }
  
  .shopping-bag {
    background-color: #ffecd9; /* Couleur crème douce */
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  

  
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 20px;
  }
  
  .item img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  
  .item-details {
    flex-grow: 1;
  }
  
  .quantity-btn {
    border: none;
    background-color: #f4f4f4;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    margin: 0 5px;
  }
  
  .price {
    font-weight: bold;
    margin: 5px 0;
  }
  
  .like-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #f00;
  }
  
  .total {
    margin-top: 20px;
    text-align: center;
  }
  